<div class="main top-main">
  <div class="top-message">
    <h2>Happenig now</h2>
    <div class="btn">
      <p>Join TweetApp today.</p><br>
      <%= link_to("Sign Up", "/signup") %>
    </div>

    <div class="btn">
      <p>Already have an account?</p><br>
      <%= link_to("Log In", "/login") %>
    </div>
  </div>
</div>